<!-- Header -  Logo and Menu area -->
<div id="Top_bar">
    <div class="container">
        <div class="column one">
            <div class="top_bar_left clearfix loading">
                <!-- Logo-->
                <div class="logo">
                    <a id="logo" href="/" title="BeExtreme - BeTheme"> <img class="scale-with-grid"
                                                                                             src="/static/img/logo.png"
                                                                                             alt="BeExtreme - BeTheme"/>
                    </a>
                </div>
                <!-- Main menu-->
                <div class="menu_wrapper">
                    <nav id="menu" class="menu-main-menu-container">
                        <ul id="menu-main-menu" class="menu">
                            <li id="menu_home">
                                <a href="/"><span>HOME</span></a>
                            </li>
                            <li  id="menu_about">
                                <a href="/about/"><span>ABOUT</span></a>
                            </li>
                            <li class="submenu mfn-megamenu-parent" id="menu_product">
                                <a href="/product/"><span>PRODUCT</span></a>
                                <ul class="sub-menu mfn-megamenu mfn-megamenu-5 mfn-megamenu-bg flv_menu_bg" style="margin-left: -20px; background-color: #ededed; color: #333;">
                                    <li class="mfn-megamenu-cols-5 submenu">
                                        <span>BACK PACK</span>
                                        <ul>
                                            <li><a href="/product/tawoobagpack/"><span style="color: #000;">Tawoo Bagpack</span></a></li>
                                            <li><a href="/product/dufflebag/"><span style="color: #000;">Tawoo Duffle Bag</span></a></li>
                                        </ul>
                                    </li>
                                    <li class="mfn-megamenu-cols-5 submenu">
                                        <span>SUB BAG</span>
                                        <ul>
                                            <li><a href="/product/waistbag/"><span style="color: #000;">Waist bag / Hip sack</span></a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="mfn-megamenu-cols-5 submenu">
                                        <span>RAIN COVER</span>
                                        <ul>
                                            <li><a href="/product/raincover/"><span  style="color: #000;">Rain Cover</span></a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li id="notice">
                                <a href="/notice/"><span>NOTICE</span></a>
                            </li>
                            <li id="contact">
                                <a href="/contact/"><span>CONTACT</span></a>
                            </li>
                        </ul>
                    </nav>
                    <a class="responsive-menu-toggle" href="#"><i class="icon-menu"></i></a>
                </div>
                <!-- Secondary menu area - only for certain pages -->
                <div class="secondary_menu_wrapper"></div>
                <!-- Banner area - only for certain pages-->
                <div class="banner_wrapper"></div>
                <!-- Header Searchform area-->
                <div class="search_wrapper">
                    <form method="get" id="searchform" action="#">

                        <input type="text" class="field" name="s" id="s" placeholder="Enter your search"/>
                        <input type="submit" class="submit flv_disp_none" value=""/>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>