{% extends "base.html" %}

{% block subheader %}
<div id="Subheader" style="background-image: url(/static/img/who_top_banner_bg.jpg);">
                <div class="container">
                    <div class="column one">
                        <h1 class="title">Tawoo Duffle Bag</h1>
                    </div>
                </div>
            </div>
{% endblock %}


{% block main %}
<!-- Main Content -->
        <div id="Content">
            <div class="content_wrapper clearfix bg_white">
                <div class="sections_group">
                    <div class="entry-content">

                        <div class="section full-width no-margin-h" style="padding-top:120px; padding-bottom:20px; ">
                            <div class="section_wrapper clearfix">
                                <div class="items_group clearfix items_group_product">
                                   <img src="/static/img/dufflebag/p1.jpg" alt="product_detailed_img_1">
                                   <img src="/static/img/dufflebag/p2.jpg" alt="product_detailed_img_2">
                                   <img src="/static/img/dufflebag/p3.jpg" alt="product_detailed_img_3">
                                   <img src="/static/img/dufflebag/p4.jpg" alt="product_detailed_img_4">
                                   <img src="/static/img/dufflebag/p5.jpg" alt="product_detailed_img_5">
                                   <img src="/static/img/dufflebag/p6.jpg" alt="product_detailed_img_6">
                                   <img src="/static/img/dufflebag/p7.jpg" alt="product_detailed_img_7">
                                   <img src="/static/img/dufflebag/p8.jpg" alt="product_detailed_img_8">
                                   <img src="/static/img/dufflebag/p9.jpg" alt="product_detailed_img_9">
                                   <img src="/static/img/dufflebag/p10.jpg" alt="product_detailed_img_10">
                                   <img src="/static/img/dufflebag/p11.jpg" alt="product_detailed_img_11">
                                   <img src="/static/img/dufflebag/p12.jpg" alt="product_detailed_img_12">
                                   <img src="/static/img/dufflebag/p13.jpg" alt="product_detailed_img_13">
                                   <img src="/static/img/dufflebag/p14.jpg" alt="product_detailed_img_14">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="buy-button" style="position: fixed; width: 100%; background-color: #fff; bottom: 0;  height: 40px; text-align: center; z-index: 1080; border-top: 1px solid #333;">
            <a class="dt-sc-button dt-sc-join-us" style="width: 100%; font-weight: bold; padding: 9px 0; color: #333; font-size: 15px; display: inline-block;" href="http://smartstore.naver.com/asadal/products/2481860077">구매하러 가기</a>
        </div>

{% endblock %}


{% block extrascript %}
<script>
    $('#menu_product').addClass('current_page_item');
</script>
{% endblock %}