{% extends "base.html" %}

{% block subheader %}
<div id="Subheader" style="background-image: url(/static/img/who_top_banner_bg.jpg);">
                <div class="container">
                    <div class="column one">
                        <h1 class="title">Raincover</h1>
                    </div>
                </div>
            </div>
{% endblock %}


{% block main %}
<!-- Main Content -->
        <div id="Content">
            <div class="content_wrapper clearfix bg_white">
                <div class="sections_group">
                    <div class="entry-content">

                        <div class="section full-width no-margin-h" style="padding-top:120px; padding-bottom:20px; ">
                            <div class="section_wrapper clearfix container">
                                <div class="items_group clearfix items_group_product">
                                   <img src="/static/img/product_raincover.png" alt="product_detailed_img_1">
                                  <p>
                                    여행을 하다보면 비가 많이 내리는 날을 만날수 있습니다. 물론 타우백팩은 어느정도 방수가 되니까 사실 크게 걱정은 되지 않아요! 하지만 그래도 비가 많이 온다면... <br/>
                                    언젠가는 분명 젖을거에요. 안 쪽의 짐들도 걱정 되고말고요!<br/>
                                    지금 판매되고 있는 타우백팩에는 저부 레인커버가 포함되어 있지만 혹시 분실하시거나 실수로 인해 찢어진 분들, 다른 배낭을 사용하지만 레인커버가 없어서 고민이신 분들을 위해 별도 판매를 결정했습니다. :)
                                  </p>
                                  <p>
                                    사용 된 모든 부자재들과 원단은 100% 국산제품이며 제작 또한 전량 국산에서 이루어졌습니다. 아사달컴퍼니의 브랜드 제품은 모두 국산제품을 추구 한답니다!!
                                  </p>
                                  <p>
                                      아사달컴퍼니 타우백팩 40L, 70L에 맞게 제작된 레인커버이지만 30L ~ 50L의 다른 배낭에도 통용하여 사용 할 수 있답니다.
                                  </p>
                                  <p>
                                    제조국 : 대한민국 <br/>
                                    원단 : 국산 방수 원단 <br/>
                                    부자재 : 대한민국 제품 <br/>
                                    가로 : 320mm <br/>
                                    세로 : 530mm <br/>
                                    폭 : 260mm <br/>

                                  </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


<div class="buy-button" style="position: fixed; width: 100%; background-color: #fff; bottom: 0;  height: 40px; text-align: center; z-index: 1080; border-top: 1px solid #333;">
            <a class="dt-sc-button dt-sc-join-us" style="width: 100%; font-weight: bold; padding: 9px 0; color: #333; font-size: 15px; display: inline-block;" href="http://smartstore.naver.com/asadal/products/2024575232">구매하러 가기</a>
        </div>
{% endblock %}