{% extends "base.html" %}
{% block content %}
<div id="main"> <!-- **Main Starts Here** -->
    <div id="slider">
        <img class="light" src="/static/images/about.png" alt="" title="Slider-image">
        <!--<img class="dark" src="http://placehold.it/1920x999&text=Banner+Image" alt="" title="Slider-image">-->
    </div>

    <section id="primary" class="content-full-width"> <!-- **Primary Starts Here** -->
        <div class="dt-sc-hr-invisible-small"></div>
        <div class="fullwidth-section"> <!-- **Full-width-section Starts Here** -->
            <div class="container">
                <div class="intro-text"> <!-- **Intro-Text Starts Here** -->
                    <div class="main-title">
                        <h2>Vision ?</h2>
                        <h6>당신의 여정, 그 찬란한 순간을 위하여.</h6>
                    </div>
                    <p>여행은 항상 기대와 행복감 그리고 불안감을 갖고 시작합니다. 그 불안감의 해소를 위해 고민해야할 것은 많습니다
                                    아사달컴퍼니는 세련되고 혁신적인 여행용품들을 만들어 당신의 여행에 가치를 더합니다. 편리성과 심미성을 기본으로
                                    하여 여행을 좀 더 편리하게, 아름답게, 개성있게 할 수 있도록 디자인 합니다. 우리의 디자인 철학에는 내구성을
                                기본으로 해야 한다는 믿음이 깔려 있습니다.
                        당신의 여행을 위해 제품의 튼튼한 내구성을 바탕으로 편리함과 심미성을 살려내야 하며, 그 가치는 당신의 여행을
                            조금 더 편리하고 아름답고 개성있게 만들어 주어야 합니다. 우리는 그러기 위하여 제품을 디자인하고 만들게 되었습니다.
                            만약 지금까지 하나같이 똑같아 보이는 캐리어와 등산배낭을 가지고 여행을 하시고 계셨다면, 앞으로는 조금 다른 여행을 하실 수 있게 될 것입니다.</p>
                </div> <!-- **Intro-Text Ends Here** -->

                <div class="dt-sc-hr-invisible-very-small"></div>
            </div>
        </div> <!-- **Full-width-section Ends Here** -->
    </section>
</div>
{% endblock %}