{% extends "base.html" %}
{% block content %}
<div id="main"> <!-- **Main Starts Here** -->
            <div id="slider">
                <img class="light" src="/static/images/slider.jpg" alt="" title="Slider-image">
                <!--<img class="dark" src="http://placehold.it/1920x999&text=Banner+Image" alt="" title="Slider-image">-->
            </div>

            <section id="primary" class="content-full-width"> <!-- **Primary Starts Here** -->
                <div class="dt-sc-hr-invisible-small"></div>
                <div class="fullwidth-section"> <!-- **Full-width-section Starts Here** -->
                    <div class="container">
                        <div class="intro-text"> <!-- **Intro-Text Starts Here** -->
                            <div class="main-title">
                                <h2>Who WE aRE ?</h2>
                                <h6>First impression is the best impression, right? Our designs make a lasting imprint
                                    in your mind…because for us designing is an art...it comes from our heart!</h6>
                            </div>
                            <div class="dt-sc-one-third column first">
                                <p>Class aptent taciti sociosqu ad litora torquent per conue bia nostra, per inceptos
                                    himenaeos. Nulla nunc dui, tristi ue in semper vel, congue sed ligula. Nam dolor
                                    ligula, fa ibus id sodales in, auctor fringill torquent per conubiaos .Porlass
                                    aptent taciti sociosqu ad litora torquent per coe bia nostra, per inceptos
                                    himenaeos. Nulla nunc dui, tristir ique in semper vel, congue sed ligula. Nam dolor
                                    ligula, faucibus id sodales in, auctor fringill torquent per conier bia
                                    nostra.Oreass aptent taciti sociosqe..</p>
                            </div>
                            <div class="dt-sc-one-third column">
                                <p>Dreei aptent taciti sociosqu ad litora torquent per conue bia nostra, per inceptos
                                    himenaeos. Nulla nunc dui, tristi ue in semper vel, congue sed ligula. Nam dolor
                                    ligula, fa ibus id sodales in, auctor fringill torquent per conubiaos .Porlass
                                    aptent taciti sociosqu ad litora torquent per coe bia nostra, per inceptos
                                    himenaeos. Nulla nunc dui, tristir ique in semper vel, congue sed ligula. Nam dolor
                                    ligula, faucibus id sodales in, auctor fringill torquent per conier bia
                                    nostra.Oreass aptent taciti sociosquer..</p>
                            </div>
                            <div class="dt-sc-one-third column">
                                <p>Ores aptent taciti sociosqu ad litora torquent per conue bia nostra, per inceptos
                                    himenaeos. Nulla nunc dui, tristi ue in semper vel, congue sed ligula. Nam dolor
                                    ligula, fa ibus id sodales in, auctor fringill torquent per conubiaos .Porlass
                                    aptent taciti sociosqu ad litora torquent per coe bia nostra, per inceptos
                                    himenaeos. Nulla nunc dui, tristir ique in semper vel, congue sed ligula. Nam dolor
                                    ligula, faucibus id sodales in, auctor fringill torquent...</p>
                            </div>
                        </div> <!-- **Intro-Text Ends Here** -->
                        <div class="features">
                            <img class="light" src="images/feature-img.png" alt="Foreal-features" title="Features">
                            <img class="dark" src="images/feature-img-dark.png" alt="Foreal-features" title="Features">
                            <div class="dt-sc-callout-box type6">
                                <h4>Foreal is a multipurpose temple with rich features and unique layout that stands out
                                    majestically…</h4>
                                <a href="#" target="_blank" class="dt-sc-button small filled black"> Purchase Now </a>
                            </div>
                        </div>
                        <div class="dt-sc-hr-invisible-very-small"></div>
                    </div>
                </div> <!-- **Full-width-section Ends Here** -->
                <div class="fullwidth-section"><!-- **Full-width-section Starts Here** -->
                    <div class="container">
                        <div class="main-title">
                            <h2>Our services</h2>
                            <h6>You cannot resist temptation. Foreal is right out of the heart...try resisting!</h6>
                        </div>
                        <div class="dt-sc-one-third column first">
                            <div class="dt-sc-ico-content type9">
                                <div class="icon">
                                    <span class="fa fa-paw"></span>
                                </div>
                                <h4><a href="#" target="_blank"><span class="fa fa-paw"> </span>Creative Design</a></h4>
                                <p>There are many variations of passages of Lorem Ipsum available, but the joy have
                                    suffered alteration in some format, by injected humour.</p>
                            </div>
                        </div>
                        <div class="dt-sc-one-third column">
                            <div class="dt-sc-ico-content type9">
                                <div class="icon">
                                    <span class="fa fa-lightbulb-o"></span>
                                </div>
                                <h4><a href="#" target="_blank"><span class="fa fa-lightbulb-o"> </span>innovative ideas</a>
                                </h4>
                                <p>There are many variations of passages of Lorem Ipsum available, but the joy have
                                    suffered alteration in some format, by injected humour.</p>
                            </div>
                        </div>
                        <div class="dt-sc-one-third column">
                            <div class="dt-sc-ico-content type9">
                                <div class="icon">
                                    <span class="fa fa-flask"></span>
                                </div>
                                <h4><a href="#" target="_blank"><span class="fa fa-flask"> </span>well analysed</a></h4>
                                <p>There are many variations of passages of Lorem Ipsum available, but the joy have
                                    suffered alteration in some format, by injected humour.</p>
                            </div>
                        </div>
                        <div class="dt-sc-one-third column first">
                            <div class="dt-sc-ico-content type9">
                                <div class="icon">
                                    <span class="fa fa-laptop"></span>
                                </div>
                                <h4><a href="#" target="_blank"><span class="fa fa-laptop"> </span>completely responsive</a>
                                </h4>
                                <p>There are many variations of passages of Lorem Ipsum available, but the joy have
                                    suffered alteration in some format, by injected humour.</p>
                            </div>
                        </div>
                        <div class="dt-sc-one-third column">
                            <div class="dt-sc-ico-content type9">
                                <div class="icon">
                                    <span class="fa fa-plus-square"></span>
                                </div>
                                <h4><a href="#" target="_blank"><span class="fa fa-plus-square"> </span>lots of features</a>
                                </h4>
                                <p>There are many variations of passages of Lorem Ipsum available, but the joy have
                                    suffered alteration in some format, by injected humour.</p>
                            </div>
                        </div>
                        <div class="dt-sc-one-third column">
                            <div class="dt-sc-ico-content type9">
                                <div class="icon">
                                    <span class="fa fa-magic"></span>
                                </div>
                                <h4><a href="#" target="_blank"><span class="fa fa-magic"> </span>special settings</a>
                                </h4>
                                <p>There are many variations of passages of Lorem Ipsum available, but the joy have
                                    suffered alteration in some format, by injected humour.</p>
                            </div>
                        </div>
                        <div class="dt-sc-hr-invisible-very-small"></div>
                    </div>
                </div><!-- **Full-width-section Ends Here** -->
                <div class="fullwidth-section"> <!-- **Full-width-section Starts Here** -->
                    <div class="container">
                        <div class="main-title">
                            <h2>new works</h2>
                            <h6>The only way to get rid of a temptation is to yield to it. Go for it…Foreal!</h6>
                        </div>
                    </div>
                    <div id="dt-scroll-content"> <!-- **dt-scroll-content Starts Here** -->
                        <ul class="dt-sc-portfolio-container portfolio-horizontal">
                            <li class="portfolio">
                                <figure>
                                    <img src="http://placehold.it/800x400&text=Portfolio+Image1" alt="portfolio2"
                                         title="Sweet candy Packaging">
                                    <figcaption>
                                        <div class="fig-content">
                                            <a href="http://placehold.it/800x400&text=Portfolio+Image1"
                                               data-gal="prettyPhoto[gallery]"><span
                                                    class="image-overlay-inside"></span></a>
                                            <h5><a href="portfolio-detail.html">Sweet candy Packaging</a></h5>
                                        </div>
                                    </figcaption>
                                </figure>
                            </li> <!-- **portfolio Ends** -->
                            <li class="portfolio">
                                <figure>
                                    <img src="http://placehold.it/800x400&text=Portfolio+Image2" alt="portfolio2"
                                         title="Sweet candy Packaging">
                                    <figcaption>
                                        <div class="fig-content">
                                            <a href="http://placehold.it/800x400&text=Portfolio+Image2"
                                               data-gal="prettyPhoto[gallery]"><span
                                                    class="image-overlay-inside"></span></a>
                                            <h5><a href="portfolio-detail-with-left-sidebar.html">Sweet candy
                                                Packaging</a></h5>
                                        </div>
                                    </figcaption>
                                </figure>
                            </li> <!-- **portfolio Ends** -->
                            <li class="portfolio">
                                <figure>
                                    <img src="http://placehold.it/800x400&text=Portfolio+Image3" alt="portfolio2"
                                         title="Sweet candy Packaging">
                                    <figcaption>
                                        <div class="fig-content">
                                            <a href="http://placehold.it/800x400&text=Portfolio+Image3"
                                               data-gal="prettyPhoto[gallery]"><span
                                                    class="image-overlay-inside"></span></a>
                                            <h5><a href="portfolio-detail-with-right-sidebar.html">Sweet candy
                                                Packaging</a></h5>
                                        </div>
                                    </figcaption>
                                </figure>
                            </li> <!-- **portfolio Ends** -->
                            <li class="portfolio">
                                <figure>
                                    <img src="http://placehold.it/800x400&text=Portfolio+Image4" alt="portfolio2"
                                         title="Sweet candy Packaging">
                                    <figcaption>
                                        <div class="fig-content">
                                            <a href="http://placehold.it/800x400&text=Portfolio+Image4"
                                               data-gal="prettyPhoto[gallery]"><span
                                                    class="image-overlay-inside"></span></a>
                                            <h5><a href="portfolio-detail.html">Sweet candy Packaging</a></h5>
                                        </div>
                                    </figcaption>
                                </figure>
                            </li>
                            <li class="portfolio">
                                <figure>
                                    <img src="http://placehold.it/800x400&text=Portfolio+Image5" alt="portfolio2"
                                         title="Sweet candy Packaging">
                                    <figcaption>
                                        <div class="fig-content">
                                            <a href="http://placehold.it/800x400&text=Portfolio+Image5"
                                               data-gal="prettyPhoto[gallery]"><span
                                                    class="image-overlay-inside"></span></a>
                                            <h5><a href="portfolio-detail.html">Sweet candy Packaging</a></h5>
                                        </div>
                                    </figcaption>
                                </figure>
                            </li>
                            <li class="portfolio">
                                <figure>
                                    <img src="http://placehold.it/800x400&text=Portfolio+Image6" alt="portfolio2"
                                         title="Sweet candy Packaging">
                                    <figcaption>
                                        <div class="fig-content">
                                            <a href="http://placehold.it/800x400&text=Portfolio+Image6"
                                               data-gal="prettyPhoto[gallery]"><span
                                                    class="image-overlay-inside"></span></a>
                                            <h5><a href="portfolio-detail.html">Sweet candy Packaging</a></h5>
                                        </div>
                                    </figcaption>
                                </figure>
                            </li>
                            <li class="portfolio">
                                <figure>
                                    <img src="http://placehold.it/800x400&text=Portfolio+Image7" alt="portfolio2"
                                         title="Sweet candy Packaging">
                                    <figcaption>
                                        <div class="fig-content">
                                            <a href="http://placehold.it/800x400&text=Portfolio+Image7"
                                               data-gal="prettyPhoto[gallery]"><span
                                                    class="image-overlay-inside"></span></a>
                                            <h5><a href="portfolio-detail.html">Sweet candy Packaging</a></h5>
                                        </div>
                                    </figcaption>
                                </figure>
                            </li>
                            <li class="portfolio">
                                <figure>
                                    <img src="http://placehold.it/800x400&text=Portfolio+Image8" alt="portfolio2"
                                         title="Sweet candy Packaging">
                                    <figcaption>
                                        <div class="fig-content">
                                            <a href="http://placehold.it/800x400&text=Portfolio+Image8"
                                               data-gal="prettyPhoto[gallery]"><span
                                                    class="image-overlay-inside"></span></a>
                                            <h5><a href="portfolio-detail.html">Sweet candy Packaging</a></h5>
                                        </div>
                                    </figcaption>
                                </figure>
                            </li>
                            <li class="portfolio">
                                <figure>
                                    <img src="http://placehold.it/800x400&text=Portfolio+Image9" alt="portfolio2"
                                         title="Sweet candy Packaging">
                                    <figcaption>
                                        <div class="fig-content">
                                            <a href="http://placehold.it/800x400&text=Portfolio+Image9"
                                               data-gal="prettyPhoto[gallery]"><span
                                                    class="image-overlay-inside"></span></a>
                                            <h5><a href="portfolio-detail.html">Sweet candy Packaging</a></h5>
                                        </div>
                                    </figcaption>
                                </figure>
                            </li>
                            <li class="portfolio">
                                <figure>
                                    <img src="http://placehold.it/800x400&text=Portfolio+Image10" alt="portfolio2"
                                         title="Sweet candy Packaging">
                                    <figcaption>
                                        <div class="fig-content">
                                            <a href="http://placehold.it/800x400&text=Portfolio+Image10"
                                               data-gal="prettyPhoto[gallery]"><span
                                                    class="image-overlay-inside"></span></a>
                                            <h5><a href="portfolio-detail.html">Sweet candy Packaging</a></h5>
                                        </div>
                                    </figcaption>
                                </figure>
                            </li>
                        </ul>
                    </div> <!-- **dt-scroll-content Ends Here** -->
                </div> <!-- **Full-width-section Ends Here** -->
                <div class="fullwidth-section"><!-- **Full-width-section Starts Here** -->
                    <div class="container">
                        <div class="main-title">
                            <h2>Master piece</h2>
                            <h6>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
                                voluptatum deleniti atque corrupti quos dolores</h6>
                        </div>
                        <div class="dt-sc-one-fourth column first">
                            <div class="dt-sc-services">
                                <div class="dt-sc-icon type1">
                                    <img title="" alt="" src="images/service-img1.png">
                                    <img title="" alt="" src="images/service-img1-light.png">
                                    <h2 data-value="125" class="dt-sc-num-count">125</h2>
                                    <p class="overline" data-hover="Awards">Awards</p>
                                </div>
                            </div>
                        </div>
                        <div class="dt-sc-one-fourth column">
                            <div class="dt-sc-services">
                                <div class="dt-sc-icon type1">
                                    <img title="" alt="" src="images/service-img2.png">
                                    <img title="" alt="" src="images/service-img2-light.png">
                                    <h2 data-value="1000" class="dt-sc-num-count">1000</h2>
                                    <p class="overline" data-hover="projects">projects</p>
                                </div>
                            </div>
                        </div>
                        <div class="dt-sc-one-fourth column">
                            <div class="dt-sc-services">
                                <div class="dt-sc-icon type1">
                                    <img title="" alt="" src="images/service-img3.png">
                                    <img title="" alt="" src="images/service-img3-light.png">
                                    <h2 data-value="30" class="dt-sc-num-count">30</h2>
                                    <p class="overline" data-hover="Creativity">Creativity</p>
                                </div>
                            </div>
                        </div>
                        <div class="dt-sc-one-fourth column">
                            <div class="dt-sc-services">
                                <div class="dt-sc-icon type1">
                                    <img title="" alt="" src="images/service-img4.png">
                                    <img title="" alt="" src="images/service-img4-light.png">
                                    <h2 data-value="252" class="dt-sc-num-count">252</h2>
                                    <p class="overline" data-hover="Clients">Clients</p>
                                </div>
                            </div>
                        </div>
                        <div class="dt-sc-hr-invisible-very-small"></div>
                    </div>
                </div><!-- **Full-width-section Ends Here** -->
                <div class="fullwidth-section">
                    <div class="container">
                        <div class="dt-sc-testimonial-carousel-wrapper">
                            <ul class="dt-sc-testimonial-carousel">
                                <li>
                                    <div class="dt-sc-testimonial">
                                        <blockquote><q>Ducimus qui blanditiis praesentium voluptatum deleniti Nunc quam
                                            neque, rutrum sit amet dolor vitae, adipiscing tempus elit.</q></blockquote>
                                        <p><cite> John Cena </cite> <br/> CEO, ABS Communications </p>
                                    </div>
                                </li>
                                <li>
                                    <div class="dt-sc-testimonial">
                                        <blockquote><q>Etiam vero eos et accusamus et iusto odio dignissimos ducimus qui
                                            blanditiis praesentium voluptatum deleniti atque corrupti quos dolores
                                            madame whist the corrupt sweet inside.</q></blockquote>
                                        <p><cite> Randy Orton </cite> <br/> Managing Director, King Corporation</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="dt-sc-testimonial">
                                        <blockquote><q>Sit ametAt vero eos et accusamus et iusto odio dignissimos
                                            ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos
                                            dolores madame whist the corrupt sweet inside. porttitor tellus
                                            sollicitudin at.</q></blockquote>
                                        <p><cite> Dean Ambrose </cite> <br/> Owner, DG Associates </p>
                                    </div>
                                </li>
                                <li>
                                    <div class="dt-sc-testimonial">
                                        <blockquote><q>At vero eos et accusamus et iusto odio dignissimos ducimus qui
                                            blanditiis praesentium voluptatum deleniti whist the corrupt sweet inside.
                                            per inceptos himenaeos. </q></blockquote>
                                        <p><cite> Jack Swagger </cite> <br/> Marketing Manager, KG Enterprises </p>
                                    </div>
                                </li>
                                <li>
                                    <div class="dt-sc-testimonial">
                                        <blockquote><q>At vero eos et accusamus et iusto odio dignissimos ducimus qui
                                            blanditiis praesentium voluptatum deleniti atque corrupti quos dolores
                                            madame whist the corrupt sweet inside.</q></blockquote>
                                        <p><cite> Dolph Zingler </cite> <br/> Team Leader, Sigmontel </p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div id="pager">
                            <a href=""></a>
                            <a href=""></a>
                            <a href=""></a>
                            <a href=""></a>
                        </div>
                        <div class="dt-sc-hr-invisible-very-small"></div>
                    </div>
                </div>
                <div class="fullwidth-section parallax parallax-img"> <!-- **Full-width-section Starts Here** -->
                    <div class="container">
                        <div class="main-title">
                            <h3>F<span class="fonts">o</span>real clients</h3>
                        </div>
                        <div class="dt-sc-hr-invisible-small"></div>
                        <div class="dt-sc-partner"> <!-- **dt-sc-partner Starts Here** -->
                            <div class="dt-sc-one-sixth column no-space first">
                                <a href="#">
                                    <img src="http://placehold.it/141x142&text=Client+Image1" alt="">
                                </a>
                            </div>
                            <div class="dt-sc-one-sixth column no-space">
                                <a href="#">
                                    <img src="http://placehold.it/141x142&text=Client+Image2" alt="">
                                </a>
                            </div>
                            <div class="dt-sc-one-sixth column no-space">
                                <a href="#">
                                    <img src="http://placehold.it/141x142&text=Client+Image3" alt="">
                                </a>
                            </div>
                            <div class="dt-sc-one-sixth column no-space">
                                <a href="#">
                                    <img src="http://placehold.it/141x142&text=Client+Image4" alt="">
                                </a>
                            </div>
                            <div class="dt-sc-one-sixth column no-space">
                                <a href="#">
                                    <img src="http://placehold.it/141x142&text=Client+Image5" alt="">
                                </a>
                            </div>
                            <div class="dt-sc-one-sixth column no-space">
                                <a href="#">
                                    <img src="http://placehold.it/141x142&text=Client+Image6" alt="">
                                </a>
                            </div>
                        </div> <!-- **dt-sc-partner Ends Here** -->
                        <div class="dt-sc-hr-invisible-small"></div>
                        <div class="tweet-content"> <!-- **Tweet-Content Starts Here** -->
                            <i class="fa fa-twitter"></i>
                            <div class="latest-tweets tweets_container"></div>
                            <div class="slider-controls">
                                <div class="pager">
                                    <a href="#"> <span> 1 </span> </a>
                                    <a href="#"> <span> 2 </span> </a>
                                    <a href="#"> <span> 3 </span> </a>
                                </div>
                            </div>
                        </div> <!-- **Tweet-Content Ends Here** -->
                    </div>
                </div> <!-- **Full-width-section Ends Here** -->
            </section> <!-- **Primary Ends Here** -->
        </div> <!-- **Main Ends** -->
{% endblock %}
{% block extrascripts %}
<script>
jQuery.noConflict();
jQuery(document).ready(function($){

	"use strict";
    $('a[data-hover="Home"]').parent().addClass('current_page_item');
});
</script>
{% endblock %}