{% extends "base.html" %}
{% block content %}
<div id="main"> <!-- **Main Starts Here** -->
            <div id="slider">
                <img class="light" src="/static/images/slider.jpg" alt="" title="Slider-image">
                <!--<img class="dark" src="http://placehold.it/1920x999&text=Banner+Image" alt="" title="Slider-image">-->
            </div>

            <section id="primary" class="content-full-width"> <!-- **Primary Starts Here** -->
                <div class="dt-sc-hr-invisible-small"></div>
                <div class="fullwidth-section"> <!-- **Full-width-section Starts Here** -->
                    <div class="container">
                        <div class="intro-text"> <!-- **Intro-Text Starts Here** -->
                            <div class="main-title">
                                <h2>Who WE aRE ?</h2>
                                <h6>당신의 여정, 그 찬란한 순간을 위하여.</h6>
                            </div>
                            <div class="dt-sc-one-half column first">
                                <p>여행은 항상 기대와 행복감 그리고 불안감을 갖고 시작합니다. 그 불안감의 해소를 위해 고민해야할 것은 많습니다
                                    아사달컴퍼니는 세련되고 혁신적인 여행용품들을 만들어 당신의 여행에 가치를 더합니다. 편리성과 심미성을 기본으로
                                    하여 여행을 좀 더 편리하게, 아름답게, 개성있게 할 수 있도록 디자인 합니다. 우리의 디자인 철학에는 내구성을
                                기본으로 해야 한다는 믿음이 깔려 있습니다. </p>
                            </div>
                            <div class="dt-sc-one-half column">
                                <p>당신의 여행을 위해 제품의 튼튼한 내구성을 바탕으로 편리함과 심미성을 살려내야 하며, 그 가치는 당신의 여행을
                                    조금 더 편리하고 아름답고 개성있게 만들어 주어야 합니다. 우리는 그러기 위하여 제품을 디자인하고 만들게 되었습니다.
                                    만약 지금까지 하나같이 똑같아 보이는 캐리어와 등산배낭을 가지고 여행을 하시고 계셨다면, 앞으로는 조금 다른 여행을 하실 수 있게 될 것입니다.</p>
                            </div>
                        </div> <!-- **Intro-Text Ends Here** -->

                        <div class="dt-sc-hr-invisible-very-small"></div>
                    </div>
                </div> <!-- **Full-width-section Ends Here** -->
                <div class="fullwidth-section"><!-- **Full-width-section Starts Here** -->
                    <div class="container">
                        <div class="main-title">
                            <h2>Our services</h2>
                            <h6>찬란한 순간을 위해 아사달 컴퍼니는 계속 노력해 나가고 있습니다.</h6>
                        </div>
                        <div class="dt-sc-one-third column first">
                            <div class="dt-sc-ico-content type9">
                                <div class="icon">
                                    <span class="fa fa-paw"></span>
                                </div>
                                <h4><a href="#" target="_blank"><span class="fa fa-paw"> </span>혁신적인 디자인</a></h4>
                                <p>기존 등산가방의 이미지에서 탈피한 여행 전문 가방을 시작으로 만들어진 여러가지 혁신적 디자인의 제품들.</p>
                            </div>
                        </div>
                        <div class="dt-sc-one-third column">
                            <div class="dt-sc-ico-content type9">
                                <div class="icon">
                                    <span class="fa fa-lightbulb-o"></span>
                                </div>
                                <h4><a href="#" target="_blank"><span class="fa fa-lightbulb-o"> </span>강인한 내구성</a>
                                </h4>
                                <p>검증받은 원단과 부자재 만을 사용, 30년 이상의 봉제업 장인들의 손에서 탄생하는 강인한 내구성의 제품들.</p>
                            </div>
                        </div>
                        <div class="dt-sc-one-third column">
                            <div class="dt-sc-ico-content type9">
                                <div class="icon">
                                    <span class="fa fa-flask"></span>
                                </div>
                                <h4><a href="#" target="_blank"><span class="fa fa-flask"> </span>편리한 인터페이스</a></h4>
                                <p>가방을 처음보는 사람들도 직관적으로 이해할 수 있는 편리한 사용법.</p>
                            </div>
                        </div>

                        <div class="dt-sc-hr-invisible-very-small"></div>
                    </div>
                </div><!-- **Full-width-section Ends Here** -->
                <div class="fullwidth-section"> <!-- **Full-width-section Starts Here** -->
                    <div class="container">
                        <div class="main-title">
                            <h2>Our Products</h2>
                            <h6>아사달컴퍼니가 자신있게 내놓은 상품들입니다.</h6>
                        </div>
                    </div>
                    <div id="dt-scroll-content"> <!-- **dt-scroll-content Starts Here** -->
                        <ul class="dt-sc-portfolio-container portfolio-horizontal">
                            <li class="portfolio">
                                <figure>
                                    <img src="http://placehold.it/800x400&text=Portfolio+Image1" alt="portfolio2"
                                         title="Sweet candy Packaging">
                                    <figcaption>
                                        <div class="fig-content">
                                            <a href="http://placehold.it/800x400&text=Portfolio+Image1"
                                               data-gal="prettyPhoto[gallery]"><span
                                                    class="image-overlay-inside"></span></a>
                                            <h5><a href="portfolio-detail.html">Sweet candy Packaging</a></h5>
                                        </div>
                                    </figcaption>
                                </figure>
                            </li> <!-- **portfolio Ends** -->
                            <li class="portfolio">
                                <figure>
                                    <img src="http://placehold.it/800x400&text=Portfolio+Image2" alt="portfolio2"
                                         title="Sweet candy Packaging">
                                    <figcaption>
                                        <div class="fig-content">
                                            <a href="http://placehold.it/800x400&text=Portfolio+Image2"
                                               data-gal="prettyPhoto[gallery]"><span
                                                    class="image-overlay-inside"></span></a>
                                            <h5><a href="portfolio-detail-with-left-sidebar.html">Sweet candy
                                                Packaging</a></h5>
                                        </div>
                                    </figcaption>
                                </figure>
                            </li> <!-- **portfolio Ends** -->
                            <li class="portfolio">
                                <figure>
                                    <img src="http://placehold.it/800x400&text=Portfolio+Image3" alt="portfolio2"
                                         title="Sweet candy Packaging">
                                    <figcaption>
                                        <div class="fig-content">
                                            <a href="http://placehold.it/800x400&text=Portfolio+Image3"
                                               data-gal="prettyPhoto[gallery]"><span
                                                    class="image-overlay-inside"></span></a>
                                            <h5><a href="portfolio-detail-with-right-sidebar.html">Sweet candy
                                                Packaging</a></h5>
                                        </div>
                                    </figcaption>
                                </figure>
                            </li> <!-- **portfolio Ends** -->
                        </ul>
                    </div> <!-- **dt-scroll-content Ends Here** -->
                </div> <!-- **Full-width-section Ends Here** -->

                <div class="fullwidth-section">
                    <div class="container">
                        <div class="dt-sc-testimonial-carousel-wrapper">
                            <ul class="dt-sc-testimonial-carousel" style="padding-left: 0;">
                                <li>
                                    <div class="dt-sc-testimonial">
                                        <blockquote><q>한두번 배낭으로 다니면 캐리어가 번거로워지더라구요. 가볍고 수납력 좋은 배낭 찾고 있었는데, 타우백팩이 딱이였어요. 디자인도 심플하고. 키작은 여성인데도 40리터 과해보이지 않고 심플하니 예뻐요. 빨리 떠나고 싶습니다. 번창하세요!</q></blockquote>
                                        <p><cite> puha**** </cite> <br/> 네이버 구매평 </p>
                                    </div>
                                </li>
                                <li>
                                    <div class="dt-sc-testimonial">
                                        <blockquote><q>40리터짜리샀는데 가볍게 2박3일정도 짐이 들어가는 크기라 너무 좋아요. 레인커버도 따로 보내주셔서 너무 감사했어요. 특히 가방앞에 아사달컴퍼니 로고가 너무 이쁘네요</q></blockquote>
                                        <p><cite> luxu**** </cite> <br/> 네이버 구매평</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="dt-sc-testimonial">
                                        <blockquote><q>남동생인 프랑스여행을 계획중이라 사준 가방입니다.60리터로 사주랴고 했지만 40으로 고집하길래 캐리어를 가지고 가는줄 알았는대 백팩만 메고 간다고 하네요. 남자녀석이라 짐을 줄이고줄이고 하면 뭐 열흘치는 넘게 짐을 쌀수있을것 같은데 제가 배낭여행 경험이 없어서 잘 모르겠습니다. 하지만 가방은 정말 예쁘면서 크고 수납공간을 찾을수록 정말 놀랍습니다. 아사달컴퍼니 가방 고민하지마시고 바로 사세요 후회없으실겁니다</q></blockquote>
                                        <p><cite> mmmi**** </cite> <br/> 네이버 구매평 </p>
                                    </div>
                                </li>
                                <li>
                                    <div class="dt-sc-testimonial">
                                        <blockquote><q>여행용가방으로 샀는데 아직 출국날짜가 약 2주정도남아서 실사용은 못해보았지만 설명에 적혀있던대로 기능확인을 하면서 보니 정말 알차게 사용할 수 있을 것 같다는 생각이 듭니다. 항상 어딜가려고 할때 우산, 신발 칸을 따로 마련하고 하는게 굉장히 적잖이 고민거리였는데 아예 가방에 따로 수납공간이 있으니 참으로 용이합니다! 빨리 써보고 싶은 마음뿐이고 여행을 사랑하시는 많은 분들에게 꼭 권해드리고 싶습니다!</q></blockquote>
                                        <p><cite> posi**** </cite> <br/> 네이버 구매평 </p>
                                    </div>
                                </li>
                                
                            </ul>
                        </div>
                        <div id="pager">
                            <a href=""></a>
                            <a href=""></a>
                            <a href=""></a>
                            <a href=""></a>
                        </div>
                        <div class="dt-sc-hr-invisible-very-small"></div>
                    </div>
                </div>
            </section> <!-- **Primary Ends Here** -->
        </div> <!-- **Main Ends** -->
{% endblock %}
{% block extrascripts %}
<script>
jQuery.noConflict();
jQuery(document).ready(function($){

	"use strict";
    $('a[data-hover="Home"]').parent().addClass('current_page_item');
});
</script>
{% endblock %}