{% extends "base.html" %}

{% block subheader %}
<div id="Subheader" style="background-image: url(/static/img/who_top_banner_bg.jpg);">
    <div class="container">
        <div class="column one">
            <h1 class="title">PRODUCT</h1>
        </div>
    </div>
</div>
{% endblock %}

{% block main %}
<!-- Main Content -->
<div id="Content">
    <div class="content_wrapper clearfix">
        <div class="sections_group">
            <div class="entry-content">

                <div class="section full-width no-margin-h" style="padding-bottom:20px; ">
                    <div class="section_wrapper clearfix">
                        <div class="items_group clearfix">
                            <!-- One Second (1/2) Column -->
                            <div class="column one-column column_column ">
                                <!--<a href="product/bagpack.html">-->
                                <div class="column_attr" style="margin:20px 20px 0; position:relative;">
                                    <div class="product_bagpack_box">
                                        <ul class="product_bagpack" style="text-align: center;">
                                            <li><a href="product/tawoobagpack.html">Tawoo Bagpack</a></li>
                                            <li><a href="product/dufflebag.html">Tawoo Duffle Bag</a></li>
                                        </ul>
                                    </div>

                                    <img src="/static/img/product_backpack_2.png" alt="backpack" style="width:100%;">
                                </div>
                                <!--</a>-->
                                <div style="background: #000; padding: 15px; margin: 0 20px;">
                                    <h3 style="color: #fff;">BACK PACK<span class="extreme_desc">Tawoo BackPack / Duffle Back</span>
                                    </h3>
                                </div>
                            </div>
                        </div>
                        <div class="items_group clearfix">
                            <!-- One Second (1/2) Column -->
                            <div class="column one-second column_column ">
                                <a href="product/raincover.html">
                                    <div class="column_attr" style="margin:20px 20px 0;">
                                        <img src="/static/img/product_raincover.png" alt="backpack">
                                    </div>
                                </a>
                                <div style="background: #000; padding: 15px; margin: 0 20px;">
                                    <h3 style="color: #fff;">RAINCOVER<span class="extreme_desc">Raincover</span></h3>
                                </div>
                            </div>
                            <!-- One Second (1/2) Column -->

                            <div class="column one-second column_column ">
                                <a href="product/waistbag.html">
                                    <div class="column_attr" style="margin:20px 20px 0;">
                                        <img src="/static/img/product_subbag.png" alt="subbag">
                                    </div>
                                </a>
                                <div style="background: #000; padding: 15px; margin: 0 20px;">
                                    <h3 style="color: #fff; ">SUBBAG<span class="extreme_desc">Subbag</span></h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}