{% extends "base.html" %}
{% block current_product %}current_page_item{% endblock %}

{% block content %}
<div class="content-base-center" style="margin: 0 auto; width: 100%;  text-align: center;">
<div id="introdetails" style="height: auto;" class="story">
    <div class="inner-contents fr-view">
        <p>
            <img src="https://wadizwww.imgix.net/ft/images/green002/2017/1211/20171211123120441_74.jpg?dpr=2&amp;auto=format,compress&amp;cs=tinysrgb&amp;gifq=70"
                 class="fr-fic fr-dib"></p>
        <p>
            <img src="https://wadizwww.imgix.net/ft/images/green002/2017/1211/20171211123121217_74.jpg?dpr=2&amp;auto=format,compress&amp;cs=tinysrgb&amp;gifq=70"
                 class="fr-fic fr-dib"></p>
        <p>
            <img src="https://wadizwww.imgix.net/ft/images/green002/2017/1211/20171211123121773_74.jpg?dpr=2&amp;auto=format,compress&amp;cs=tinysrgb&amp;gifq=70"
                 class="fr-fic fr-dib"></p>
        <p>
            <img src="https://wadizwww.imgix.net/ft/images/green002/2017/1211/20171211123124421_74.jpg?dpr=2&amp;auto=format,compress&amp;cs=tinysrgb&amp;gifq=70"
                 class="fr-fic fr-dib"></p>
        <p>
            <img src="https://wadizwww.imgix.net/ft/images/green002/2017/1211/20171211123128499_74.jpg?dpr=2&amp;auto=format,compress&amp;cs=tinysrgb&amp;gifq=70"
                 class="fr-fic fr-dib"></p>
        <p>
            <img src="https://wadizwww.imgix.net/ft/images/green002/2017/1211/20171211123136288_74.jpg?dpr=2&amp;auto=format,compress&amp;cs=tinysrgb&amp;gifq=70"
                 class="fr-fic fr-dib"></p>
        <p>
            <img src="https://wadizwww.imgix.net/ft/images/green002/2017/1211/20171211123138378_74.jpg?dpr=2&amp;auto=format,compress&amp;cs=tinysrgb&amp;gifq=70"
                 class="fr-fic fr-dib"></p>
        <p>
            <img src="https://wadizwww.imgix.net/ft/images/green002/2017/1211/20171211123142660_74.jpg?dpr=2&amp;auto=format,compress&amp;cs=tinysrgb&amp;gifq=70"
                 class="fr-fic fr-dib"></p>
        <p>
            <img src="https://wadizwww.imgix.net/ft/images/green002/2017/1211/20171211123145382_74.jpg?dpr=2&amp;auto=format,compress&amp;cs=tinysrgb&amp;gifq=70"
                 class="fr-fic fr-dib"></p>
        <p>
            <img src="https://wadizwww.imgix.net/ft/images/green002/2017/1211/20171211123148350_74.jpg?dpr=2&amp;auto=format,compress&amp;cs=tinysrgb&amp;gifq=70"
                 class="fr-fic fr-dib"></p>
        <p>
            <img src="https://wadizwww.imgix.net/ft/images/green002/2017/1211/20171211123151428_74.jpg?dpr=2&amp;auto=format,compress&amp;cs=tinysrgb&amp;gifq=70"
                 class="fr-fic fr-dib"></p>
        <p>
            <img src="https://wadizwww.imgix.net/ft/images/green002/2017/1211/20171211123152155_74.jpg?dpr=2&amp;auto=format,compress&amp;cs=tinysrgb&amp;gifq=70"
                 class="fr-fic fr-dib"></p>
        <p>
            <img src="https://wadizwww.imgix.net/ft/images/green002/2017/1211/20171211123154190_74.jpg?dpr=2&amp;auto=format,compress&amp;cs=tinysrgb&amp;gifq=70"
                 class="fr-fic fr-dib"></p>
        <p>
            <img src="https://wadizwww.imgix.net/ft/images/green002/2017/1211/20171211123156912_74.jpg?dpr=2&amp;auto=format,compress&amp;cs=tinysrgb&amp;gifq=70"
                 class="fr-fic fr-dib"></p>
        <p>
            <img src="https://wadizwww.imgix.net/ft/images/green001/2017/1214/20171214111110059_35.jpg?dpr=2&amp;auto=format,compress&amp;cs=tinysrgb&amp;gifq=70"
                 class="fr-fic fr-dib"><img
                src="https://wadizwww.imgix.net/ft/images/green001/2017/1212/20171212121306898_65.jpg?dpr=2&amp;auto=format,compress&amp;cs=tinysrgb&amp;gifq=70"
                class="fr-fic fr-dib"></p>
        <div class="buy-button">
            <a class="dt-sc-button dt-sc-join-us" href="http://storefarm.naver.com/asadal/products/2001025456">구매하러 가기</a>
        </div>
    </div>

</div>
</div>
{% endblock %}

{% block extrascripts %}
<script>
jQuery.noConflict();
jQuery(document).ready(function($){

	"use strict";
    $('a[data-hover="Products"]').parent().addClass('current_page_item');
});

</script>
{% endblock %}