{% extends "base.html" %}

{% block content %}
<div class="content-base-center" style="margin: 0 auto; width: 100%; text-align: center;">
    <div id="introdetails" style="height: auto;" class="story">
        <div class="inner-contents fr-view">
            <hr>
            <h2>실.물.등.장. <u>더 강력해진 타우백팩</u>을 공개합니다.</h2>
            <p>개선점 1. 더 좋아진 원단.&nbsp;</p>
            <p><br></p>
            <p>
                <img src="https://wadizwww.imgix.net/ft/images/green002/2017/0601/20170601202249062_69.jpg?dpr=2&amp;auto=format,compress&amp;cs=tinysrgb&amp;gifq=70">
            </p>
            <p><br></p>
            <p>더 튼튼해지고, 더 고급스러운 바디.</p>
            <p>한층 더 고급스러운 1680D 원단을 사용하였습니다. (100% 국산)</p>
            <p><br></p>
            <p>개선점 2. 보안강화를 위한 슬라이드 변화</p>
            <p><br></p>
            <p>
                <img src="https://wadizwww.imgix.net/ft/images/green002/2017/0601/20170601202602424_69.jpg?dpr=2&amp;auto=format,compress&amp;cs=tinysrgb&amp;gifq=70">
            </p>
            <p><br></p>
            <p>기존 슬라이드는 자물쇠를 결합 할 수 없었으나, 후원자분들의 피드백을 적극 반영해&nbsp;</p>
            <p>자물쇠 구멍이 있는 슬라이드로 교체했습니다. 이제 보안까지 완벽한 백팩이 되었습니다.</p>
            <p><br></p>
            <p>개선점 3. 한 층 강화된 등판 보충재.</p>
            <p>
                <img src="https://wadizwww.imgix.net/ft/images/green002/2017/0601/20170601202733184_69.jpg?dpr=2&amp;auto=format,compress&amp;cs=tinysrgb&amp;gifq=70">
            </p>
            <p><br></p>
            <p>더 두툼하게, 더 좋은 보충재로 교체하였습니다.&nbsp;</p>
            <p>등판안쪽의 노트북을 보호할 수 있도록, 여행자의 등을 보호할 수 있도록&nbsp;</p>
            <p>보충재를 한층 더 강화하였습니다.</p>
            <p><br></p>
            <p>개선점 4. 에어매쉬 확장.</p>
            <p>
                <img src="https://wadizwww.imgix.net/ft/images/green002/2017/0601/20170601202914688_69.jpg?dpr=2&amp;auto=format,compress&amp;cs=tinysrgb&amp;gifq=70">
            </p>
            <p><br></p>
            <p>측면 에어매쉬를 확장하여 좀 더 큰 물병, 좀 더 많은 아이템들을 수납할 수 있도록 하였습니다.</p>
            <p><br></p>
            <p><br></p>
            <p>개선점 5. 더 세련된 디자인.</p>
            <p><br></p>
            <p>
                <img src="https://wadizwww.imgix.net/ft/images/green002/2017/0601/20170601203032051_69.jpg?dpr=2&amp;auto=format,compress&amp;cs=tinysrgb&amp;gifq=70">
            </p>
            <p><br></p>
            <p>최종적으로 전체적인 각과 모양을 다듬어 좀 더 세련되게 변화시켰습니다.</p>
            <hr>
            <p>[보조가방 실물 공개] 타우 웨이스트 백 / 힙쌕</p>
            <p>
                <img src="https://wadizwww.imgix.net/ft/images/green001/2017/0525/20170525190829521_44.jpg?dpr=2&amp;auto=format,compress&amp;cs=tinysrgb&amp;gifq=70"
                     class="fr-fic fr-dib"></p>
            <hr>
            <h2>리워드 강화!</h2>
            <p>기존 가방만 제공되던 리워드에서 <u>모든 리워드에 보조가방과 레인커버를 무료</u>로 드립니다.</p>
            <p>타우백팩 + 보조가방 + 레인커버 = 펀딩금액</p>
            <hr>
            <h3>[방수 실험입니다!!]</h3>
            <p>방수가 어느정도 되는지 질문해 주시는 분들이 많아서 방수동영상을 찍어보았습니다!</p>
            <p>이정도의 생활방수는 가능합니다! (물방울 굴러가는 클라스...)</p>
            <p>그래도 비오는 날에는 레인커버를 착용해야겠죠? ㅎㅎㅎ(무료로 지급하니까요!)</p>
            <p>p.s 빗소리와 천둥소리는 뽀인트.</p>
            <p><span class="fr-video fr-fvc fr-dvb fr-draggable" contenteditable="false" draggable="true"><iframe
                    width="640" height="360" src="//www.youtube.com/embed/fitlhjLMg-E?wmode=opaque" frameborder="0"
                    allowfullscreen=""></iframe></span></p>
            <hr>
            <p>
                <img src="https://wadizwww.imgix.net/ft/images/green002/2017/0518/20170518184326017_51.jpg?dpr=2&amp;auto=format,compress&amp;cs=tinysrgb&amp;gifq=70"
                     class="fr-fic fr-dib"></p>
            <p><br></p>
            <p>
                <img src="https://wadizwww.imgix.net/ft/images/green002/2017/0518/20170518185336431_51.jpg?dpr=2&amp;auto=format,compress&amp;cs=tinysrgb&amp;gifq=70"
                     class="fr-fic fr-dib"></p>
            <p><br></p>
            <p><br></p>
            <p>
                <img src="https://wadizwww.imgix.net/ft/images/green002/2017/0518/20170518185824642_51.jpg?dpr=2&amp;auto=format,compress&amp;cs=tinysrgb&amp;gifq=70"
                     class="fr-fic fr-dib"></p>
            <p><br></p>
            <p>
                <img src="https://wadizwww.imgix.net/ft/images/green002/2017/0518/20170518190904788_51.jpg?dpr=2&amp;auto=format,compress&amp;cs=tinysrgb&amp;gifq=70"
                     class="fr-fic fr-dib"></p>
            <p><br></p>
            <p><br></p>
            <p>
                <img src="https://wadizwww.imgix.net/ft/images/green002/2017/0518/20170518191641758_51.jpg?dpr=2&amp;auto=format,compress&amp;cs=tinysrgb&amp;gifq=70"
                     class="fr-fic fr-dib"></p>
            <p><br></p>
            <p>
                <img src="https://wadizwww.imgix.net/ft/images/green002/2017/0518/20170518192800961_51.jpg?dpr=2&amp;auto=format,compress&amp;cs=tinysrgb&amp;gifq=70"
                     class="fr-fic fr-dib"></p>
            <p><br></p>
            <p><br></p>
            <p><br></p>
            <p>
                <img src="https://wadizwww.imgix.net/ft/images/green002/2017/0518/20170518193605551_51.jpg?dpr=2&amp;auto=format,compress&amp;cs=tinysrgb&amp;gifq=70"
                     class="fr-fic fr-dib"></p>
            <p><br></p>
            <p><br></p>
            <p><br></p>
            <p>
                <img src="https://wadizwww.imgix.net/ft/images/green002/2017/0518/20170518194119974_51.jpg?dpr=2&amp;auto=format,compress&amp;cs=tinysrgb&amp;gifq=70"
                     class="fr-fic fr-dib"></p>
            <p><br></p>
            <p><br></p>
            <p>
                <img src="https://wadizwww.imgix.net/ft/images/green002/2017/0518/20170518194957256_51.jpg?dpr=2&amp;auto=format,compress&amp;cs=tinysrgb&amp;gifq=70"
                     class="fr-fic fr-dib"></p>
            <p><br></p>
            <p><br></p>
            <p>
                <img src="https://wadizwww.imgix.net/ft/images/green002/2017/0518/20170518195726242_51.jpg?dpr=2&amp;auto=format,compress&amp;cs=tinysrgb&amp;gifq=70"
                     class="fr-fic fr-dib"></p>
            <p><br></p>
            <p><br></p>
            <p>
                <img src="https://wadizwww.imgix.net/ft/images/green002/2017/0518/20170518200250019_51.jpg?dpr=2&amp;auto=format,compress&amp;cs=tinysrgb&amp;gifq=70"
                     class="fr-fic fr-dib"></p>
            <p><br></p>
            <p><br></p>
            <p>
                <img src="https://wadizwww.imgix.net/ft/images/green002/2017/0518/20170518201718148_51.jpg?dpr=2&amp;auto=format,compress&amp;cs=tinysrgb&amp;gifq=70"
                     class="fr-fic fr-dib"></p>
            <p><br></p>
            <p>
                <img src="https://wadizwww.imgix.net/ft/images/green002/2017/0518/20170518202353363_51.jpg?dpr=2&amp;auto=format,compress&amp;cs=tinysrgb&amp;gifq=70"
                     class="fr-fic fr-dib"></p>
            <p># 40L 배낭으로 촬영하였습니다!</p>
            <p>
                <img src="https://wadizwww.imgix.net/ft/images/green002/2017/0518/20170518202737999_51.jpg?dpr=2&amp;auto=format,compress&amp;cs=tinysrgb&amp;gifq=70"
                     class="fr-fic fr-dib"></p>
            <p><br></p>
            <p>
                <img src="https://wadizwww.imgix.net/ft/images/green002/2017/0518/20170518203235973_51.jpg?dpr=2&amp;auto=format,compress&amp;cs=tinysrgb&amp;gifq=70"
                     class="fr-fic fr-dib"></p>
            <p><br></p>
            <p>
                <img src="https://wadizwww.imgix.net/ft/images/green002/2017/0518/20170518203914155_51.jpg?dpr=2&amp;auto=format,compress&amp;cs=tinysrgb&amp;gifq=70"
                     class="fr-fic fr-dib"></p>
            <p><br></p>
            <p>
                <img src="https://wadizwww.imgix.net/ft/images/green002/2017/0518/20170518205322948_51.jpg?dpr=2&amp;auto=format,compress&amp;cs=tinysrgb&amp;gifq=70"
                     class="fr-fic fr-dib"></p>
            <p><br></p>
            <p><br></p>
            <p>
                <img src="https://wadizwww.imgix.net/ft/images/green002/2017/0601/20170601210245484_95.jpg?dpr=2&amp;auto=format,compress&amp;cs=tinysrgb&amp;gifq=70"
                     class="fr-fic fr-dib"></p>
            <p><br></p>
            <p><br></p>
            <p><br></p>
            <p>
                <img src="https://wadizwww.imgix.net/ft/images/green002/2017/0518/20170518212045078_51.jpg?dpr=2&amp;auto=format,compress&amp;cs=tinysrgb&amp;gifq=70"
                     class="fr-fic fr-dib"></p>
            <p><br></p>
            <p><br></p>
            <p>
                <img src="https://wadizwww.imgix.net/ft/images/green002/2017/0518/20170518214611820_51.jpg?dpr=2&amp;auto=format,compress&amp;cs=tinysrgb&amp;gifq=70"
                     class="fr-fic fr-dib"></p>
            <p><br></p>
            <p><br></p>
            <p><br></p>
            <p><br></p>
            <hr>
            <div class="aligncenter" style="margin-bottom: 30px;">
                <a class="dt-sc-button dt-sc-join-us" href="http://storefarm.naver.com/asadal/products/2001025456">구매하러 가기</a>
            </div>
            <p><br></p>
            <p><br></p>
            <p><br></p>
        </div>

    </div>
</div>
{% endblock %}

{% block extrascripts %}
<script>
jQuery.noConflict();
jQuery(document).ready(function($){

	"use strict";
    $('a[data-hover="Products"]').parent().addClass('current_page_item');
});

</script>
{% endblock %}